$font-primary: "Clash Display";
$font-secondary: "Satoshi";
$background-primary: #2a254b;
$color-primary: #fff;
$background-secondary: rgba(249 249 249 / 15%);
$background-third: #f9f9f9;
$color-secondary: #22202e;
$color-third: #726e8d;
$color-fourth: #800080;